<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://js.pusher.com/8.4.0/pusher.min.js"></script>  <!--for notification-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"rel="stylesheet"/>
    <title>User Index</title>
  </head>
  <body>
    
    <main class="p-6 bg-gray-900 min-h-screen w-screen">

        <div class="bg-white-500 hover:bg-blue-800 top-1 right-6 absolute text-white text-2xl rounded-lg p-2" >
            <h1>Role: <%= role %></h1>
        </div>
        <div class="bg-gray-700 w-fit rounded-lg px-4 py-2" >
            <h1 class="text-white">User: <%= username %></h1>
            <p class="text-white">Email: <%= email %></p>
        </div>
        <br>

        <!-- Choose File -->
        <button onclick="showPopUp()" class="text-white  bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Choose File</button>

        <div>
            <h2 class="text-xl font-bold text-gray-200">Uploaded Images</h2>
                <div class="grid grid-cols-3 gap-4 mt-4">
                <% allimages.forEach(img => { %>
                    <div class="border rounded-lg shadow p-2">
                        <a href="<%= img.filePath %>" target="_blank">
                        <img src="<%= img.filePath %>" class="w-full h-40 object-cover rounded-lg" />
                        </a>
                    <p class="text-sm text-gray-500 mt-1">
                        Uploaded at: <%= img.uploadTime.toLocaleString() %>
                    </p>
                    <p class="text-sm text-gray-500 mt-1">
                        Name: <%= img.filePath %>
                    </p>
                </br>
                    <form action="/delete-image/<%= img._id %>?_method=DELETE" method="POST"> 
                        <button type="submit" class="bg-red-600 text-white px-2 py-1 rounded">Delete</button>
                    </form>
                    </div>
                <% }) %>
                </div>
        </div>


         <!--/routes/logout-->
        <div>
            <form action="/Sign-out" method="get" > 
                <button class="bg-red-500 hover:bg-red-800 top-15 right-10 absolute text-white text-1xl rounded-lg p-2">logout</button>
            </form>
        </div>

        
            <!-- Notification -->>
            <div id="notification"  class="hidden fixed top-4 left-150 bg-white text-red-500 px-2 py-4 rounded-lg shadow-md text-center z-50">
            
            </div>


          
            <!-- Form -->
            <div id="one" class="pop hidden backdrop-blur flex items-center justify-center h-screen w-screen fixed top-0 left-0">

                <form action="" method="post" enctype="multipart/form-data">
                    <div class="flex items-center justify-center w-100">
                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                </svg>
                                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                  <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                              <input id="dropzone-file" type="file" class="hidden" name="file" />
                        </label>
                    </div> 

                      <button type="submit" class="bg-green-600 hover:bg-green-800 text-white font-medium rounded-lg p-2 mt-4 ">upload file</button>
                </form>

                <!--close button touch from blur effect But not touch with Submit form-->
                <div>
                    <button class=" bg-red-600 hover:bg-red-800 bottom-50 right-142 absolute text-white text-1xl rounded-lg p-2" onclick="hiddenPopUp()">
                        Close
                    </button>
                </div>
                
            </div>
            
    </main>

    <script>
        // for button show and hide
        function showPopUp(){
            const x = document.getElementById("one")
            x.classList.remove("hidden")
        }
        function hiddenPopUp(){
            const y = document.getElementById("one")
            y.classList.add("hidden")
        }

        //pusher
        Pusher.logToConsole = true;
        // obj create with (key)
        const pusher = new Pusher('62ee3b1c9692423af804', {
            cluster: 'ap1'
        });
        
        // channel subscribe
        const channel = pusher.subscribe('notification-channel');
        //channel trigger after subscribe
        channel.bind('pusher:subscription_succeeded', function () {
        // Trigger backend to send the event now
        fetch("/trigger-notification", {
            method: "POST",
            credentials: "include"
        });


        // event trigger
        channel.bind('notification-event', function(data) {
        notify(data.message);
        console.log("Notification received:", data);
        });


        function notify(msg) {
            const el = document.getElementById("notification");
            el.innerHTML = msg;
            el.classList.remove("hidden");  // show

            setTimeout(() => {
                el.classList.add("hidden");  // hide
            }, 4000);
        }


            
     });


    </script>
            
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>